.gradient-text {
  background: linear-gradient(to left,
    #e30613 0%,
    #ff8133 51%,
    #fbba1b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
}

.bg {
  background-image: url('/assets/img/illustrations/lights_background.png');
  height: 100%;
  width: 100%;
  background-size: contain;
  position: absolute;
  opacity: 0.2;
  /* filter: blur(25px); */
}

.line-bg {
  background-image: url('/assets/img/illustrations/line-bg.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.2;
  top:  0;
  left: 0;
  z-index: 0;
}

.btn-primary {
  background-color: #e9a15d;
  border-color: #e3061567;
}

.btn-primary:hover {
  background-color: #e30613;
  border-color: #e30613;
}

/* Change the played portion */
.video-js .vjs-play-progress {
  background-color: #00ff99 !important;
  height: 8px;
}

/* Change the buffer portion */
.video-js .vjs-load-progress {
  background-color: #6666ff !important;
}

/* Change the whole slider bar background */
.video-js .vjs-progress-holder {
  background-color: #222 !important;
  height: 8px;
  border-radius: 4px;
}

.video-js .vjs-mouse-display,
.video-js .vjs-time-tooltip {
  display: none;
}

.vjs-control-bar {
  background-color: transparent !important;
}

/* 🔒 Hide current time & duration */
.vjs-remaining-time,
.vjs-current-time,
.vjs-duration,
.vjs-time-divider,
.vjs-time-tooltip,
.vjs-mouse-display {
  display: none !important;
}

.video-js .vjs-play-progress {
  background-color: #007bff;
  transition: transform 0.1s linear;
}

/* 无黑框 比例cover */
video {
  object-fit: cover;
}

/* 隐藏音量控制 */
.video-js .vjs-volume-panel {
  display: none !important;
}

/* 自定义进度条容器 */
.custom-progress-container {
  display: none !important;
  position: relative;
  width: 1000px;
  height: 10px;
  background: #6666665d; /* 整个进度条背景 */
  background: rgba(100, 100, 100, 0.4);
  z-index: 1;
  cursor: default; /* 禁用指针交互 */
  pointer-events: none; /* 禁用所有鼠标事件 */
}

/* 固定占位部分 (0-50%) */
.progress-placeholder {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #00ff99; /* 灰色占位 */
  z-index: 1;
}

/* 动态进度条 (50%-100%) */
.custom-play-progress {
  position: absolute;
  /* left: 50%; 从50%位置开始 */
  width: 0; /* 初始宽度为0 */
  height: 100%;
  background: #00ff99; /* 播放进度颜色 */
  z-index: 2;
}

/* 播放头 */
.play-head {
  position: absolute;
  top: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00ff99;
  transform: translateX(-50%);
  z-index: 3;
}

/* 隐藏默认进度条 */
.video-js .vjs-progress-control {
  display: none;
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .intro {
  display: none;
} */

@keyframes animateToHalf {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.custom-play-progress.animate-to-half {
  animation: animateToHalf 1s ease-out forwards;
}

/* button */
:root {
  --glow-hue: 222deg;
  --shadow-hue: 180deg;
  --spring-easing: linear(
    0,
    0.002,
    0.01 0.9%,
    0.038 1.8%,
    0.156,
    0.312 5.8%,
    0.789 11.1%,
    1.015 14.2%,
    1.096,
    1.157,
    1.199,
    1.224 20.3%,
    1.231,
    1.231,
    1.226,
    1.214 24.6%,
    1.176 26.9%,
    1.057 32.6%,
    1.007 35.5%,
    0.984,
    0.968,
    0.956,
    0.949 42%,
    0.946 44.1%,
    0.95 46.5%,
    0.998 57.2%,
    1.007,
    1.011 63.3%,
    1.012 68.3%,
    0.998 84%,
    1
  );
  --spring-duration: 1.33s;
}
@property --shimmer {
  syntax: '<angle>';
  inherits: false;
  initial-value: 33deg;
}

@keyframes shimmer {
  0% {
    --shimmer: 0deg;
  }
  100% {
    --shimmer: 360deg;
  }
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: -100% center;
  }
}

.btn-3 {
  color: #070808;
  font-weight: 900;
  /*     background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5); */
  background-image: linear-gradient(
    315deg,
    #ffc4ec -10%,
    #efdbfd 50%,
    #ffedd6 110%
  );
  padding: 0.8em 1.4em;
  position: relative;
  isolation: isolate;
  box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%),
    inset 0 -10px 20px -10px hsla(var(--shadow-hue), 10%, 90%, 95%);
  border-radius: 0.66em;
  scale: 1;
  transition: all var(--spring-duration) var(--spring-easing);
}

.btn-3:hover:not(:active),
.btn-3.active {
  transition-duration: calc(var(--spring-duration) * 0.5);
  scale: 1.2;
  box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%),
    inset 0 0 0 transparent;
}
.btn-3:active {
  scale: 1.1;
  transition-duration: calc(var(--spring-duration) * 0.5);
}

.shimmer {
  position: absolute;
  inset: -40px;
  border-radius: inherit;
  mask-image: conic-gradient(
    from var(--shimmer, 0deg),
    transparent 0%,
    transparent 10%,
    black 36%,
    black 45%,
    transparent 50%,
    transparent 60%,
    black 85%,
    black 95%,
    transparent 100%
  );
  mask-size: cover;
  mix-blend-mode: plus-lighter;
  animation: shimmer 1s linear infinite both;
}
.btn-3:hover .shimmer::before,
.btn-3:hover .shimmer::after,
.btn-3.active .shimmer::before,
.btn-3.active .shimmer::after {
  opacity: 1;
  animation: shine 1.2s ease-in 1 forwards;
}
.shimmer::before,
.shimmer::after {
  transition: all 0.5s ease;
  opacity: 0;
  content: '';
  border-radius: inherit;
  position: absolute;
  mix-blend-mode: color;
  inset: 40px;
  pointer-events: none;
}
.shimmer::before {
  box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
    0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
    0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
    0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
  z-index: -1;
}

.shimmer::after {
  box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
    inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
    inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
  z-index: 2;
}

.btn-3 .text {
  color: transparent;
  background-clip: text;
  background-color: var(--bg);
  background-image: linear-gradient(
    120deg,
    transparent,
    hsla(var(--glow-hue), 100%, 80%, 0.66) 40%,
    hsla(var(--glow-hue), 100%, 90%, 0.9) 50%,
    transparent 52%
  );
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: center 200%;
}

.btn-3:hover .text,
.btn-3.active .text {
  animation: text 0.66s ease-in 1 both;
}

.btn-3 {
  border: solid 3px #fbba1b;
  background-image: linear-gradient(
    15deg,
    #e30613 0%,
    #ff8133 51%,
    #fbba1b 100%
  );
}

.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border: 1px solid #fbbc1b21;
  border-radius: 0.5em;
}
.grid-wrapper > div > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper .wide {
  grid-column: span 2;
  background-color: #1a1a1e;
}
.grid-wrapper .tall {
  grid-row: span 2;
  background-color: #1a1a1e;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #1a1a1e;
}
